/* variables */
/* ---------- */

:root {
  /* shade color of primary color */
  --clr-primary-1: hsl(201.6, 92.59%, 5.29%);
  --clr-primary-2: hsl(201.18, 92.73%, 10.78%);
  --clr-primary-3: hsl(202.11, 90.48%, 16.47%);
  --clr-primary-4: hsl(201.98, 90.99%, 21.76%);
  /* primary color */
  --clr-primary-5: hsl(201.73, 91.37%, 27.25%);
  /* tint color of primary color */
  --clr-primary-6: hsl(201.66, 91.93%, 43.73%);
  --clr-primary-7: hsl(201.71, 91.3%, 54.9%);
  --clr-primary-8: hsl(201.65, 91.86%, 66.27%);
  --clr-primary-9: hsl(201.71, 91.3%, 77.45%);
  --clr-primary-10: hsl(201.51, 92.98%, 88.82%);

  /*dark  grey color for headlines */
  --clr-grey-1: hsl(0, 0%, 15.29%);
  --clr-grey-2: hsl(0, 0%, 23.14%);
  --clr-grey-3: hsl(0, 0%, 30.59%);
  --clr-grey-4: hsl(0, 0%, 38.43%);
  --clr-grey-5: hsl(0, 0%, 45.88%);
  /* light grey color for paragraph */
  --clr-grey-6: hsl(0, 0%, 54.9%);
  --clr-grey-7: hsl(0, 0%, 63.92%);
  --clr-grey-8: hsl(0, 0%, 72.94%);
  --clr-grey-9: hsl(0, 0%, 81.96%);
  --clr-grey-10: hsl(0, 0%, 90.98%);

  --clr-white: #fff;
  --clr-dark: #222;
  --clr-dark-red: #f15025;

  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);

  --space: 0.1rem;
  --radius: 0.25rem;

  --fixed-width: 620px;
}

/* global setting */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  color: var(--clr-grey-2);
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--space);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-4);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

}

/* ------ */
/* main */
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* ------- */
/* navbar */
.navbar {
  position: absolute;
  top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto 100px;
  align-items: start;
  justify-items: center;
  background-color: transparent;
  padding: 0 1.5rem;
}

.btn {
  background-color: var(--clr-dark);
  border: none;
  border-radius: var(--radius);
  color: var(--clr-white);
  font-size: 1rem;
  padding: 0.35rem 0.5rem;
  cursor: pointer;
  letter-spacing: var(--space);
  text-transform: uppercase;
}
.btn.signin-btn{
  display: none;
}
.navbar .sub-menu {
  opacity: 0;
}

/* change 2 btn and bigger screen show submenu*/
@media screen and (min-width: 800px){
  .btn.open-btn {
    display: none;
  }
  .btn.btn.signin-btn{
    display: flex;
    width: 80px;
    font-size:0.8rem;
    color: var(--clr-grey-10);
    justify-content: center;
  }
  .btn.btn.signin-btn:hover{
    scale:1.1;
  }
  .navbar .sub-menu {
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content:center;
  }
  .navbar .sub-menu .menu-btn {
    background-color: transparent;
    color:var(--clr-white);
    border:0;
    font-size: 1.25rem;
    text-transform: capitalize;
    cursor: pointer;
    margin:1rem;
  }
  .navbar .secondary-menu {
    display:none;
  }
  .navbar .secondary-menu.show{
    display:grid;
    grid-template-columns: repeat(auto-fit minmax(300px,1fr));
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    border-radius: var(--radius);
    border:none;
    box-shadow: var(--dark-shadow);
    padding: 0.35rem;
  }
    .navbar .secondary-menu.show span {
      color: var(--clr-grey-5);
    }
  .navbar .secondary-menu.show a{
      padding-left: 1rem;
      color:var(--clr-grey-3);
  }

}




/* -------- */
/* sidebar */
.sidebar {
  display: none;
}

.sidebar.show {
  display:flex;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  border-radius: var(--radius);
  background-color: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  transition: all linear 0.25s;
}
.sidebar .btn{
  height: 2rem;
  background-color: transparent;
  border: none;
  color: var(--clr-grey-2);
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebar-content{
  display:flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}
.link-group h4{
  color:var(--clr-dark);
}
.link-group .linkgroup-sublinks{
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-items: start;
  gap: 1rem
}
.linkgroup-page-link{
  display: flex;
  align-items: center;
  color: var(--clr-grey-5);
}
.linkgroup-page-link a{
  margin-left: 1rem;
  color: var(--clr-grey-3);
}

/* -------- */
/* start page */
.start {
  width:100%;
  height:100vh;
  background: url(./images/hero.svg) no-repeat ;
  background-size:cover;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: minmax(300px 800px);
  align-items: center;
}
 .start-img {
   display: none;
 }
@media screen and (min-width:800px) {
.start{
  display:grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
 
}
.start-img{
  display:block;
  justify-self: center;
}
}



